body {
    background-color: #ecf0f1;
}

.graphic {
    width: 100%;
}

.graphic svg {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    stroke-opacity: 0.3;
}

.link:hover {
    stroke-opacity: 0.6;
}
